/* first navbar styling */
.fn {
    background-color: #DFDFDE;
}

.firstNavbar {
    justify-content: space-between;
    text-align: center;
    margin: 1rem;
    margin-top: 0%;
    padding: 1rem;
}

#symbol {
    width: 100px;
    height: 150px;
    text-align: center;
    justify-content: center;
}

#co {
    max-height: 150px;
    mix-blend-mode: multiply;
}

.navRow {
    display: flex;
}

#logo2 {
    max-width: 220px;
    height: 150px;
}

/* main heading styling */
.header {
    text-align: center;
    font-family: 'Montserrat',
        sans-serif;
}

/* second navbar styling */
.secondNavbar,
.dropdown-menu {
    background-color: #F32424;
}

.navbar-brand,
.nav-item,
.nav-link,
.dropdown,
.dropdown-toggle,
.dropdown-item {
    color: white !important;
}

.navbar-brand,
.nav-item {
    margin-left: 4rem;

}

.dropdown-toggle:hover {
    border: 1px solid white;
}

/* main section styling */
.banner {
    text-align: center;
}

#bnr {
    width: 60%;
    height: 40%;
}

.main-row {
    text-align: center;
}

/* marquee section styling */
.colhead {
    text-align: center;
    color: #2c1012;
}

#fakejobs,
#staffnews {
    margin: 2rem;
    text-align: left;
    background-color: #FEFBE7;
    color: black;
    padding: 0.5rem;
    border: 0.5px solid #2c1012;
    border-radius: 10px;
}

/* about section styling */
.abouthead {
    text-align: center;
    margin-top: 1.5rem;
}

.aboutcontent {
    text-align: center;
}

/* contact section styling */
#contact {
    text-align: center;
    font-size: 0.8rem;
}

.ctnavbar {
    background-color: #F32424;

}

#fb {
    width: 40px;
    height: 40px;
}

.contactmedia {
    width: 50px;
    height: 50px;
}

.navb-itm {
    padding-top: 0.5rem;
    margin-left: 3rem;
}

/* footer section styling */
.footer {
    margin-bottom: 0%;
    position: relative;
    bottom: 0%;
    padding: 0.75rem;
    background-color: #251D3A;
    color: white;
}